body{
    background-color:black !important;
}
#p1{
  padding-top:10px;
}
.row{

}
.header{
    font-family: Helvetica;
    color: white;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.red,.green,.blue{
    color:white;
}
.red{
    background-color: #e74c3c;
}
.green{
    background-color: #2ecc71;
}
.blue{
    background-color: #3498db;
}
.col-lg-12{
    color:#ecf0f1;
    text-align: center;
    font-weight: lighter;
    font-family: Helvetica;
    font-size: 30px;
    background-color: black !important;
    margin-bottom: 2%;
}
.col-lg-4{
    text-align: center;
}
.col-lg-10{
    margin-left: 11%;
}
p{
  font-family: Helvetica;
  font-weight: light;
  font-size: 18px;
    text-align: center;
}
.button-container{
    margin: auto;
    display: block;
}
.button{
    color:white;
    font-weight: bold;
}
.container{
    margin: auto;
    min-width: 80%;
}
.square-container{
    text-align: center;
}
.square{
    height: 30%;
    width: 30%;
}
.button-container{
}
.text{
  text-color: ‎#F9CCCA;
  font-family: Helvetica;
  font-weight: heavy;
  font-size: 30px;
  color:white;
  text-align:center;
}
.border{
    border: solid;
    border-color: grey;
    border-width: 0.5px;
}
.footer-container{
}
.foot{
    font-family: Helvetica;
    font-weight: bold;
    color:white;
    font-size: 32px;
}
